<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side menu</title>
    <link rel="stylesheet" href="../assets/css/sidemenu.css">
</head>
<body>
    <div id="sidemenu" class="menu-expanded">
        <div id="header">
            <div id="title"><span>Administrador</span></div>
            </div>
        <div id="profile">
            <div id="photo"><img src="../assets/images/logo.png" alt=""></div>
            
            <div id="name"><span>M & M</span></div>
        </div>
                  
        <div id="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../assets/Icons/persona.png" alt=""></div>
                    <div class="title">My profile</div>
                </a>
            </div>

            <div class="item separator">
                
            </div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../assets/Icons/dashboard.png" alt=""></div>
                    <div class="title">My dashboard</div>
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../assets/Icons/actividad.png" alt=""></div>
                    <div class="title">My activities</div>
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../assets/Icons/reporte.png" alt=""></div>
                    <div class="title">My reports</div>
                </a>
            </div>

            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../assets/Icons/comentario.png" alt=""></div>
                    <div class="title">Comms</div>
                </a>
            </div>

        </div>
        
    </div>   
</body>
    
</html>